.post-item {

    &.hot {
        animation: burning 1s infinite;
    }

    &:hover {
        outline: .125rem solid var(--clr-accent);
    }

    a {
        display: flex;
        gap: .5rem;
        flex-wrap: wrap;

        &:hover {
            color: currentColor;

            figure {
                img {
                    transform: scale(1.05);
                }
            }
        }

        figure {
            flex: 1;
            margin: 0;
            background: linear-gradient(black, grey);
            height: 8rem;
            overflow: hidden;

            img {
                transition: transform 2s ease-in-out;
                transform: scale(1);
            }
        }

        .post-item-info {
            flex: 3;
            padding: .5rem;

            header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                gap: 1rem;

                h3 {
                    flex: 1;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: var(--clr-accent);
                }

                time {
                    font-style: italic;
                }
            }

        }
    }
}

@keyframes burning {
    from {
        box-shadow: 0 0 0 hsl(var(--clr-accent-raw) / 1);
    }
    to {
        box-shadow: 0 0 3rem hsl(var(--clr-accent-raw) / 0);
    }
}


@media screen and (max-width: 30rem) {
    .post-item {
        a, header {
            flex-direction: column;
        }
    }
}