<li *ngIf="post" class="post-item" [class.hot]="post.isNew">
    <a routerLink="/posts/{{ post.id }}">
        <figure>
            <img src="assets/imgs/{{ post.image }}" alt="{{ post.title }}">
        </figure>
        <div class="post-item-info">
            <header>
                <h3>{{ post.title }}</h3>
                <time>publié le {{ post.publishedAt | date: "dd/MM/YYYY" }}</time>
            </header>
            
            <p>{{ post.content.length > 20 ? post.content.substr(0, 20) + "..." : post.content }}</p>
        </div>
    </a>
</li>