aside {
    ul {
        display: flex;
        align-items: center;
        overflow-x: auto;
        border: .125rem solid var(--clr-accent);
        gap: .5rem;

        li {
            font-size: 1.2rem;
            text-transform: uppercase;
            padding-inline: .5rem;
            text-align: center;
            flex-shrink: 0;
            flex-basis: 12rem;
        }
    }
}