<aside>
    <h4>Вам также понравятся :</h4>
    <ul>
        <li *ngFor="let post of posts">
            <a routerLink="/posts/{{ post.id }}">
                {{ post.title }}
            </a>
        </li>
    </ul>
</aside>
