header {
    display: flex;
    align-items: end;
    padding-inline: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--clr-bg-light);

    h1 {
        margin-block: 0;
        color: var(--clr-accent);
        
        img {
            max-height: 8rem;
        }
    }

    button.theme-toggler {
        align-self: flex-start;
        border: 0;
        padding: .3rem .5rem;
        color: #fff;
        background-color: var(--clr-accent);
    }
    
    nav {
        margin-bottom: .5rem;

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            list-style: none;

            li {
                font-weight: bold;
                font-size: 1.5rem;
                a {
                    padding: 1rem;
                    &:hover {
                        outline: .3rem solid var(--clr-accent);
                    }
                }
            }
        }
    }
}