<header>
    <h1><img src="assets/imgs/pravda_logo.jpg" alt=""></h1>
    <button class="theme-toggler" (click)="onClick()">Тема</button>
    <nav>
        <ul>
            <li *ngFor="let link of links">
                <a routerLink="{{ link.href }}">{{ link.label }}</a>
            </li>
        </ul>
    </nav>
</header>