<section class=post-comments-section>
    <strong *ngIf="comments.length === 0">Aucun commentaire</strong>

    <h4 *ngIf="comments.length > 0">Lire les {{comments.length }} commentaires</h4>

    <ul class="post-comments">
        <app-comment-item *ngFor="let comment of comments" [comment]="comment"></app-comment-item>
    </ul>
</section>