.post {
    border-bottom: .125rem solid var(--clr-txt);
    padding-bottom: 1rem;

    h2 {
        margin-block: 2rem;
    }

    p {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 40rem) {
  .post {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "title title img"
    "content content img";

    figure {
        grid-area: img;
        background-color: hsl(0 0% 0% / .5);
        height: 100%;
    }

    h2 {
        grid-area: title;
    }

    p {
        grid-area: content;
        columns: 2;
    }
  }
}
