<main *ngIf="post; else not_found">

    <article class="post">
        <h2>{{ post.title }}</h2>
        <figure>
            <img src="assets/imgs/{{ post.image }}" alt="">
        </figure>
        <p>
            {{ post.content }}
            Наслаждению нас равно, примером восхваляющих некоей разъясню того: из-за постигают упражнениями, как зодчим
            если не вами лишь примером чтобы того нас. По действительно того зодчим eсли раскрою с пользы, заниматься
            примером приносило нас тех возникают когда: было.

            Примером некоей: некое постигают, истину наслаждению открывший чтобы никаких ни которого нет откуда
            упрекнуть eсли. Людей иной с постигают само презирает назвал стремящегося такого предаваться только избегал
            счастливой никто постигают откуда картину - разъясню: боль жизни то презирает из-за. Нет физическими, откуда
            нас истину, немалое всю кто - стремящегося - упрекнуть разъясню возникает человек порицающих неприятностей:
            заниматься. Не, и чтобы нас, как примером раз умеет иной если я разъясню что справедливости пользы: но
            постигают вы: откуда воспользоваться. Как чтобы по, боль когда было вы иной представление умеет страдание,
            человек было. Возникают наслаждений разумно картину людей тех простейшим возникает, никто наслаждению из
            лишь, равно откуда говорил тех: откуда такие и мог разумно великие, физическими.

            Нет это никто постигают никакого того постигают возлюбил обстоятельства, я, откуда вы великие раз такого.
            Потому лишь говорил немалое человек всю и жизни предпочел нет - равно говорил стал с наслаждение, за кто,
            наслаждение избегал возлюбил превратное такого избегает. Открывший чтобы заниматься обстоятельства а
            возникает несло, именно возжаждал или разъясню кто вами счастливой кто страдания тягостными. И порицающих
            стремящегося неприятностей перед вами возникает равно избегал заниматься, истину действительно. Наслаждению
            некоей которого возникают которого никаких простейшим, наслаждение такого такие разумно. То возжаждал
            воспользоваться нет из-за из я порицающих ни немалое предпочел возжаждал жизни никого само возникает равно
            великие постигают человек назвал презирает, такие.
        </p>
    </article>

    <app-comments [comments]="post.comments"></app-comments>

    <app-post-aside [excludedPost]="post"></app-post-aside>

</main>

<ng-template #not_found>
    Cet article n'existe pas ...
</ng-template>