li:nth-child(even) {
    background-color: hsl(0 0% 30% / 0.2);
  }

  li {
    padding: 0.3rem;

    em {
      color: var(--clr-accent);
      font-weight: bold;
    }

    p {
      margin-left: 1rem;
    }
  }