@font-face {
    font-family: Merriweather, 'sans-serif';
    src: url('assets/fonts/Merriweather-Regular.ttf');
}
@font-face {
    font-family: Merriweather, 'sans-serif';
    src: url('assets/fonts/Merriweather-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: Merriweather, 'sans-serif';
    src: url('assets/fonts/Merriweather-Italic.ttf');
    font-style: italic;
}

/* You can add global styles to this file, and also import other style files */
:root {
    --clr-accent: hsl(0 75% 40%);
    --clr-accent-raw: 0 75% 40%;
    --clr-txt: hsl(0 0% 20%);
    --clr-bg: hsl(0 0% 90%);
    --clr-bg-light: hsl(0 0% 100%);
    --ff-primary: Merriweather;
}

[data-dark="true"] {
    --clr-accent: hsl(200 75% 40%);
    --clr-accent-raw: 200 75% 40%;
    --clr-txt: hsl(0 0% 90%);
    --clr-bg: hsl(0 0% 10%);
    --clr-bg-light: hsl(0 0% 20%);
}

* {
    box-sizing: border-box;
}

div,
p,
h1, 
h2, 
h3,
ul,
li,
strong {
    transition: 
        color .5s ease-in-out .1s,
        background-color .5s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
}

.app {
    color: var(--clr-txt);
    background-color: var(--clr-bg);
    min-height: 100vh;
}

h1, h2, h3, h4, p {
    margin-top: 0;
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    color: var(--clr-accent);
}

figure {
    margin: 0;
    padding: 0;
}

a {
    color: var(--clr-txt);
    transition: all .4s ease-in-out;
    text-decoration: none;

    &:hover {
        color: var(--clr-accent);
    }
}

img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(1);
}

ul {
    list-style: none;
    padding: 0;
}

button {
    cursor: pointer;
}

.container {
    background-color: var(--clr-bg-light);
    max-width: 60rem;
    margin-inline: auto;
    padding: 1rem;
}